<!-- navigation bar -->
<section ng-controller="HeaderController">
   <nav class="navbar navbar-inverse navbar-fluid-top navbar-custom">
      <div class="container-fluid">

         <div class="navbar-header">
            <a class="navbar-brand" href="#">
               <img id="headerLogo" src="images/district-banner.png" width=328px>
            </a>
         </div>
         <div id="navigationBar" class="collapse navbar-collapse">
         </div>
         <div class="usersIndicator">
            <h4>Users Online: {{numUsers}} </h4>
         </div>

      </div>
   </nav>
</section>
